
    <div class="ae-grid au-xs-ta-center au-mb-4">

      <div *ngFor="let persona of infoService.equipo" class="animate fadeIn item-lg-4 ae-kappa au-mb-3">
        <img [src]="persona.url" width="300px" height="300px" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">{{ persona.nombre }}</h5>
        <p class="ae-u-bolder au-mb-3">{{ persona.subtitulo }}</p>
        <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">{{ persona.frase }}</p>
        <a target="_blank" href="http://twitter.com/{{ persona.twitter}}" class="ae-u-bolder au-underline">{{ persona.twitter}}</a>
      </div>
      
    </div>
    <div class="ae-grid au-pt-2">
      <div class="ae-grid__item item-lg-8 item-lg--offset-2">
        <h4 class="ae-u-bolder">Bienvenidos</h4>
        <p>Un granito sobre nosotros.</p>
      </div>
    </div>
    <div class="ae-grid ae-grid--alt au-xs-ptp-1">
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Sobre Nosotros</h6>
        <p class="au-lh-3">Somos una pequeña familia que emigro a Chile, para emprender una nueva vida, mejor confort y dsfrute de vida. </p>
      </div>
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Mision</h6>
        <p class="au-lh-3">Luchar por alcanzar nuestros sueños, y estar en armonia.</p>
      </div>
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Nuestros Amigos</h6>
        <p class="au-lh-3">Los que siempre han estado en las buenas y malas, que nos han ragalos un espacio de su tiempo y nos han brindado apoyo, su felicidad y compañia.</p>
        <p class="au-lh-3">Buenas vibras para todos.</p>
      </div>
    </div>
    <!-- <p class="au-flex au-pt-4 group-buttons"><a href="portfolio.html" class="au-mt-4 arrow-button arrow-button--right arrow-button--out"><span class="arrow-cont">
          <svg>
            <use xlink:href="assets/img/symbols.svg#arrow"></use>
          </svg></span></a></p> -->
  